<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/scripts/index.js"></script>
<body onload="init()">
    <div class="wrapper">
        <header>
            <% include partials/header.ejs %>
        </header>

        <main>
            <h1><%= title %></h1>
            <div id="history" class="boxed">
                <% comments.forEach(function(comment) { %>
                    <p><strong><%= comment.name %>:</strong> <%= comment.message %></p>
                <% }); %>
            </div>
            <div id="initial_form" style="display: block">
                <p>Please enter your username to join the chat</p>
                <form onsubmit="return false;">
                    <p><label for="username">Your name:</label>
                        <input type="text" id="username" name="username">
                    </p>
                    <button id="connect" onclick="connectToRoom()">Connect</button>
                </form>
            </div>
            <div id="chat_interface" style="display: none">
                <div>
                    <div id="who_you_are" style="display: inline"></div>, you are in room: <div id="in_room" style="display: inline"></div>
                </div>
                <div id="history" class="boxed"></div>
                <div id="input" class="bottom boxed">
                    <form onsubmit="return false;" style="width: 100%">
                        <p>
                            <label for="name"> chat: </label>
                            <input type="text" id="chat_input" name="chat_input" style="width: 80%">
                            <button id="chat_send" onclick="sendChatText()">Send</button>
                        </p>
                    </form>
                </div>
            </div>
        </main>

        <footer>
            <% include partials/footer.ejs %>
        </footer>
    </div>
    <script>
        const usernameKey = "username";

        function getUsername() {
            return localStorage.getItem(usernameKey);
        }

        function fillUsernameField() {
            const usernameField = document.getElementById("username"); // Ensure this matches your form's username input ID
            if (usernameField) {
                usernameField.value = getUsername();
            }
        }

        function setUsernameButtonClicked() {
            const usernameField = document.getElementById("username"); // This ID should match the username input field
            const usernameToSet = usernameField.value;
            localStorage.setItem(usernameKey, usernameToSet);
        }

        document.addEventListener("DOMContentLoaded", function(event) {
            fillUsernameField();
            const connectButton = document.getElementById("connect"); // Assuming you want to set username upon clicking connect
            if (connectButton) {
                connectButton.addEventListener("click", setUsernameButtonClicked);
            }
        });
    </script>
</body>

