<script type="module" src="/scripts/search.mjs"></script>
<script type="module" src="/scripts/list_plants.mjs"></script>
<script type="module" src="/scripts/filter.mjs"></script>
<body>
<!-- Home page - sets out elements to be populated by list_plants.mjs-->
    <div class="wrapper">
        <header>
            <% include partials/header.ejs %>
        </header>

        <main>
            <div class="background-section">
                <section class="welcome-section">
                    <article class="image-article">
                        <img src="/images/plant-image.png" alt="Plant Image">
                        <a href="/add" class="top-button-link">
                            <button class="top-button">Add plant sighting!</button>
                        </a>
                    </article>
                    <article class="text-article">
                        <h1>Welcome to Plant Recognition!</h1>
                        <p>Join our community where green thumbs unite to help each other identify mysterious plants and share botanical wisdom. Whether you stumbled upon an unusual plant during your morning walk or have an exotic specimen in your backyard, our platform is your go-to hub for learning and sharing plant information through real-time chat.</p>
                        <p class="note"> Note: To personalize your experience, you can set a username. Please refresh the page after doing so to apply the changes.</p>
                        <h2 id="plantEntriesCount">Loading</h2>
                    </article>
                </section>
            </div>

            <section class="filter-section" id="searchPanel">
                <button id="datetime">Date Time</button>
                <button id="identification">Identification Status</button>
                <button id="distance">Distance</button>
            </section>


            <section class="cards-container" id="searchResults">

            </section>
        </main>

        <footer>
            <% include partials/footer.ejs %>
        </footer>
    </div>
</body>
