<div class="background-section">
    <section class="welcome-section">
            <article class="image-article">
                <img src="/images/plant-image.png" alt="Plant Image">
                <a href="/add-plant" class="top-button-link">
                    <button class="top-button">Add plant sighting!</button>
                </a>
            </article>
            <article class="text-article">
                <h1>WELCOME!</h1>
                <p>Proin ut vehicula elit. Phasellus ullamcorper vitae risus at sollicitudin. Aenean pretium magna ut interdum fringilla.</p>
            </article>
    </section>
</div>

<section class="filter-section">
    <button>Date Time</button>
    <button>Identification Status</button>
    <button>Distance</button>
</section>

<section class="cards-container">
    <a href="/plant" class="card-link">
        <article class="card">
            <img src="/images/plant-image.png" alt="Plant Thumbnail">
            <div class="card-content">
                <h2>NAME</h2>
                <p>Date and time</p>
                <p>Identification status</p>
                <p>Coordinates</p>
            </div>
        </article>
    </a>
    <a href="/plant" class="card-link">
        <article class="card">
            <img src="/images/plant-image.png" alt="Plant Thumbnail">
            <div class="card-content">
                <h2>NAME</h2>
                <p>Date and time</p>
                <p>Identification status</p>
                <p>Coordinates</p>
            </div>
        </article>
    </a>
    <a href="/plant" class="card-link">
        <article class="card">
            <img src="/images/plant-image.png" alt="Plant Thumbnail">
            <div class="card-content">
                <h2>NAME</h2>
                <p>Date and time</p>
                <p>Identification status</p>
                <p>Coordinates</p>
            </div>
        </article>
    </a>
    <!-- Repeat for other cards -->
</section>