<script type="module" src="/javascripts/search.mjs"></script>
<script type="module" src="/javascripts/list_plants.mjs"></script>
<script type="module" src="/javascripts/database.mjs"></script>

<div class="background-section">
    <section class="welcome-section">
            <article class="image-article">
                <img src="/images/plant-image.png" alt="Plant Image">
                <a href="/add-plant" class="top-button-link">
                    <button class="top-button">Add plant sighting!</button>
                </a>
            </article>
            <article class="text-article">
                <h1>WELCOME!</h1>
                <p>Proin ut vehicula elit. Phasellus ullamcorper vitae risus at sollicitudin. Aenean pretium magna ut interdum fringilla.</p>
                <h2 id="plantEntriesCount">Loading</h2>
            </article>
    </section>
</div>

<section class="filter-section" id="searchPanel">
    <button id="datetime">Date Time</button>
    <button id="identification">Identification Status</button>
    <button id="distance">Distance</button>
</section>


<section class="cards-container" id="searchResults">

</section>