<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Actor&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <% include partials/header.ejs %>
        </header>

        <main>
            <%- body %>
        </main>

        <footer>
            <% include partials/footer.ejs %>
        </footer>
        <!-- JavaScript files -->
        <script src="/javascripts/filter.js"></script>
        <script src="/javascripts/image_preview.js"></script>
        <!-- You can include other external JavaScript files or scripts here -->
    </div>
</body>
</html>