<!DOCTYPE html>
<html>
<head>
    <title>Plants</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="manifest" href="/manifest.json">
</head>
<body>
<h1>Plants</h1>
<h2 id="plantEntriesCount">Loading</h2>

<div id="searchPanel">
        <input type="radio" id="datetime" name="sort_heuristic" value="HTML">
        <label for="datetime">Sort by date time</label><br>
        <input type="radio" id="identification" name="sort_heuristic" value="CSS">
        <label for="identification">Sort by identification status</label><br>
        <input type="radio" id="distance" name="sort_heuristic" value="JavaScript">
        <label for="distance">Sort by distance (WIP!)</label>
</div>

<div id="searchResults">

</div>
<script type="module" src="/javascripts/search.mjs"></script>
<script type="module" src="/javascripts/list_plants.mjs"></script>
<script type="module" src="/javascripts/database.mjs"></script>
</body>
</html>
