<script type="module" src="/javascripts/fill_out_plant_page.mjs"></script>
<div class="background-section">
    <section class="welcome-section">
        <article class="image-article">
            <img id="plant_image" src="/images/cactus.jpeg" alt="Plant Profile Image">
            <button class="top-button">Update status</button>
        </article>
        <article class="text-article">
            <h1 id="plant_name">Plant name</h1>
            <p id="plant_identification_status">Identification status:</p>
            <p id="plant_description">Proin ut vehicula elit. Phasellus ullamcorper vitae risus at sollicitudin. Aenean pretium magna ut interdum fringilla.</p>
        </article>
    </section>
</div>

<div class="plant-info">
    <section class="info-section">
        <div class="info-block">
            <h2 id="date_time_seen">Date and time seen:</h2>
            <div id="map"></div>
        </div>
        <div class="info-block">
            <p id="width">Width:</p>
            <p id="height">Height:</p>
            <p id="has_flowers">Has flowers:</p>
            <p id="has_fruit">Has fruit:</p>
            <p id="has_seeds">Has seeds:</p>
            <p id="sun_exposure">Sun exposure:</p>
            <p id="plant_colour">Plant color:</p>
            <p id="flower_colour">Flower color:</p>
        </div>
    </section>

    <section class="chat-section">
        <h1>CHAT</h1>
        <!-- Chat content will go here -->
    </section>
</div>