html, body {
    height: 100%;
    font-family: "Actor", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0; /* Removes default margin */
    background-color: #F3F2F0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Remove default list styles */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Remove default link styles */
a {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits the color from the parent element */
}
/*GENERAL BUTTON STYLE*/
button {
    max-width: 300px; /* Maximum width of the button */
    min-width: 150px; /* Minimum width of the button */
    padding: 1rem;
    /*padding: 1vw; /* Responsive vertical padding based on viewport width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: center; /* Center the text inside the button */
    white-space: normal; /* Allow the text to wrap if needed */
    overflow: hidden; /* Prevent text from spilling out */
    text-overflow: ellipsis; /* Add an ellipsis if the text overflows */
    border-radius: 30px; /* Rounded corners */
    /*font-size: 1.3vw; /* Responsive font size based on viewport width */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    background-color: #3F4808; /* Example green background color */
    color: #FFFFF0; /* Button text color */
    border: none; /* No border */
    cursor: pointer; /* Cursor indicates clickable item */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a shadow effect */
}
button:hover {
    background-color: #5b6447; /* Darker shade for hover state */
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Larger shadow for hover state */
}

nav input {
    width: 80px;
}

nav button {
    padding: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: fit-content;
    min-width: 0rem;
}
/*HEADER STYLE*/
header {
    background: #3F4808;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFF0;
    width: 75%;
    margin: auto;
    gap: 1rem;
    padding: 1rem 0rem; /* top & bottom | right & left */
}
nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
nav .logo h1{
    padding: 0;
    margin: 0;
}
nav .navigation{
    display: flex;
    align-items: center;
}
/*FOOTER STYLE*/
footer {
    display: flex;
    flex-direction: column;
    background: #8A9B6E;
    color: #FFFFF0;
}
footer .copyright{
    text-align: center;
    width: 75%;
    margin: auto;
}
/*MAIN STYLE*/
main {
    display: flex;
    flex-direction: column;
    flex: 1;
}
main h1{
    font-size: 2em;
    margin-block-start: 1em;
    margin-block-end: 0.2em;
}
/*Welcome section*/
section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    margin: 2rem auto; /* top and bottom | left and right */
}
.background-section {
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    color: #FFFFF0;
}
.image-article {
    position: relative; /* Set the parent to relative positioning */
    display: flex;
    flex: 0;
    margin: 0 20px 0 0;
    padding: 0;
    border-radius: 20px;
    overflow: hidden;
    height: 400px; /* Fixed height for all cards */
    flex-basis: calc(33.333% - 20px);
    min-width: 250px; /* Set a min-width to prevent cards from getting too small */
}
.text-article {
    flex: 2; /* Adjust as necessary for your layout */
    padding: 20px; /* Spacing around the text */
}
.image-article img {
    display: flex;
    width: 100%; /* Make sure the image is not bigger than its container */
    height: auto; /* Maintain aspect ratio */
}
.top-button {
    position: absolute; /* Position the button absolutely within its parent */
    bottom: 20px; /* Space from the bottom of the image */
    left: 50%; /* Center horizontally relative to the image */
    transform: translateX(-50%); /* Align the center of the button with the center of the image */
    width: 80%; /* Percentage of parent's width, adjust as needed */
}
/*Filter section*/
.filter-section {
    display: flex;
    justify-content: center; /* Center the buttons */
    gap: 10px; /* Space between buttons */
}
.filter-section button {
    background-color: #8A9B6E; /* Initial background color */
    transition: background-color 0.3s; /* Smooth transition for background color */
}
.filter-section button.active {
    background-color: #3F4808; /* Active state background color */
    color: #FFFFF0; /* Active state text color */
}
/*Plant cards section*/
.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #FFFFF0;
    justify-content: space-evenly;
}
.card-link {
    display: flex;
    margin: 0;
    padding: 0;
    height: 650px; /* Fixed height for all cards */
    flex-basis: calc(33.333% - 20px);
    /*flex: 0 1 auto; /* Change this from a fixed 300px to auto */
    min-width: 250px; /* Set a min-width to prevent cards from getting too small */
    cursor: pointer;
}
.card {
    display: flex;
    flex-direction: column;
    background: #3F4808;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px;
    padding: 0;
    width: 100%;
}

.owned {
    background: #8A9B6E;
}

.queued {
    background: #A6AC94FF;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0,0,0,0.2); /* Larger shadow for hover state */
}

.card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.card-content {
    width: 100%;
    height: 50%; /* Content takes the remaining half of the card's height */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1.5rem;
    gap: 5px;
    box-sizing: border-box;
}
.card-content h2 {
    margin: 0;
    padding: 0;
}
.card-content p {
    margin: 0;
    padding: 0;
}
/* Style for the info-section */
.plant-info{
    display: flex;
    flex-direction: column;
}
.info-section {
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
    min-width: 380px; /* Set a min-width to prevent cards from getting too small */
}
.info-section h2, .info-section p {
    margin: 0;
    padding: 0;
}
.info-block {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
    box-sizing: border-box;
    background: #8A9B6E;
    border-radius: 20px; /* Rounded corners */
    color: #FFFFF0;
    width: 49%;
    margin-bottom: 2rem;
}
/* Style for the chat-section */
.chat-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background: #8A9B6E;
    border-radius: 20px; /* Rounded corners */
    color: #FFFFF0;
    padding: 2rem;
    box-sizing: border-box;
}
.chat-section h1 {
    margin: 10px;
    align-self: center;
}

.initial-form, .chat-interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

#chat_input {
    flex: 1;
}

#username, #chat_input {
    padding: 10px; /* Some padding inside */
    border: 1px solid #ccc; /* A light border */
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box; /* Include padding in the width */
    background-color: #FFFFF0;
}

/*Add plant form*/

form{
    color: #FFFFF0;
    font-weight: bold;
    text-transform: uppercase;
}

fieldset {
    border: none; /* Removes the default fieldset border */
    padding: 0; /* Removes the default padding */
    margin: 0; /* Adjusts the default margin */
    min-width: 0;
    min-height: 0;
    background-image: url("/images/background.jpg");
    border-radius: 20px; /* Rounded corners */
    display: flex;
    gap: 1rem;
}

fieldset legend{
    display: none;
}

.plant-form{
    width: 75%;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.submit-button {
    display: flex;
    justify-content: center;
}

.first-container, .second-container {
    display: flex;
    flex-direction: row;
    gap: 2%;
    box-sizing: border-box;
}

.image-section, .details-section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.image-section{
    width: 30%;
    height: 50%;
    overflow: hidden;
}

.details-section {
    width: 68%;
}

.location-section, .characteristics-section {
    display: flex;
    flex-direction: column;
    width: 49%; /* Flexible base width */
}

.image-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.details-section, .location-section, .characteristics-section {
    padding: 20px;
}

.location-section button {
    align-self: center; /* This will center only the button within the flex container */
}

textarea, .details-section input, .location-section input, .characteristics-section input  {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding inside */
    border: 1px solid #ccc; /* A light border */
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box; /* Include padding in the width */
    margin-top: 6px; /* Margin on top */
    margin-bottom: 16px; /* Margin on the bottom */
    resize: vertical; /* Allow vertical resizing, none to disable resizing */
    background-color: #FFFFF0;
}

.image-upload-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: url("/images/background.jpg"); /* Example button color */
    text-align: center;
    margin: 10px;
    cursor: pointer;
    /* Additional styling for the button look */
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    white-space: normal; /* Allow the text to wrap if needed */
    overflow: hidden; /* Prevent text from spilling out */
    text-overflow: ellipsis; /* Add an ellipsis if the text overflows */
    border-radius: 20px; /* Rounded corners */
    /*font-size: 1.3vw; /* Responsive font size based on viewport width */
    transition: all 0.3s ease; /* Smooth transition for hover effects */
    color: #FFFFF0; /* Button text color */
    border: none; /* No border */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a shadow effect */
}

.image-upload-label:hover {
    background-color: #8A9B6E; /* Slightly darker on hover */
}

.image-upload-label .btn {
    display: block;
}

/*select menus*/

/* Style the select element with similar properties as the input fields */
.details-section select, .characteristics-section select {
    width: 100%; /* Full width */
    padding: 10px; /* Some padding inside */
    border: 1px solid #ccc; /* A light border */
    border-radius: 10px; /* Rounded corners */
    box-sizing: border-box; /* Include padding in the width */
    margin-top: 6px; /* Margin on top */
    margin-bottom: 16px; /* Margin on the bottom */
    background-color: #FFFFF0;
    -webkit-appearance: none; /* Removes default styles for Webkit browsers like Chrome/Safari */
    -moz-appearance: none; /* Removes default styles for Firefox */
    appearance: none; /* Removes default styles for modern browsers */
    /* Add custom arrow */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5" viewBox="0 0 20 10"><path fill="%23ccc" d="M0 0l10 10 10-10z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px top 50%, 0 0;
    background-size: 12px 12px, 100%;
}

/* Hide the arrow for IE */
.details-section select::-ms-expand {
    display: none;
}

/* Hide the arrow for IE */
.characteristics-section select::-ms-expand {
    display: none;
}

/* For options */
.details-section option, .characteristics-section option  {
    padding: 10px;
}

/* Apply focus styles to inputs and selects */
input:focus, select:focus, textarea:focus {
    outline-color: #8A9B6E; /* Sets the border to a light green color */
    /* You can adjust the color value to match your desired shade of light green */
}


/*style for the checkboxes and colour pickers*/

/* Custom checkbox styles */
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #FFF;
    margin: 4px;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #8A9B6E; /* or any color you prefer */
}

input[type="checkbox"]:checked:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 9px;
    background-color: #FFF;
    width: 2px;
    height: 2px;
    box-shadow:
            2px 0 0 #FFF,
            4px 0 0 #FFF,
            4px -4px 0 #FFF,
            4px -6px 0 #FFF,
            4px -8px 0 #FFF;
    transform: rotate(45deg);
}

/* Custom color picker styles */
input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 30px; /* can be adjusted */
    height: 30px; /* can be adjusted */
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}

/* Style the container for each label-input group */
.label-input-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    gap: 10px; /* Adjusts space between label and input */
    justify-content: space-between;
}

/* Style for labels to make sure they don't take up too much space */
.label-input-container label {
    white-space: nowrap; /* Keeps the label on one line */
}


/*map styling*/

.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.map {
    display: flex;
    height: 100%;
    width: 100%;
}

/* Add a media query for when the viewport width is 800px or less */
@media screen and (max-width: 800px) {
    .first-container, .second-container, .info-section{
        flex-direction: column; /* Stack the children vertically */
        align-items: center; /* Center the children horizontally */
        gap: 2rem;
        width: 100%;
    }
    .image-section, .details-section, .location-section, .characteristics-section {
        width: 100%;
        box-sizing: border-box;
    }
    .info-block {
        width: 75%;
        margin-bottom: 0;
    }
    .chat-section {
        margin-top: 2rem;
    }

}

@media screen and (max-width: 1000px) {
    .cards-container {
        display: flex;
        flex-direction: column;
    }

    .card-link {
        height: auto;
    }

    .card-content {
        height: 100%;
    }
}